# ____REMOVE THIS LINE AFTER RENAMING sample.env to .env ____
DATABASE_URL=
SESSION_ID=
REMOVEBG_KEY=
PREFIX=.
MODE=private
AutoReaction=true
STATUSVIEW=true
OWNERS=254112291443;254729269118
antidelete=true
BOT_NAME=Midumba gaga
DL_MSG=Here is your video
ANTI_LINK=true
ANTI_CALL=false
VIEWONCE=true
REPLY_STATUS=false
STATUS_MESSAGE=🩵ʏᴏᴜʀ sᴛᴀᴛᴜs sᴇᴇɴ sᴜᴄᴄᴇssғᴜʟʟʏ😍 😎ʙʏ *GAGA MD* ᴡʜᴀᴛsᴀᴘᴘ ʙᴏᴛ🩵
AUTOREAD=false
